a  { color:#046484; } /* CSS link color */

/* Modo claro */
body[data-bs-theme="light"] {
    background-color: #ffffff;
    color: #000000;
}


/* Modo oscuro */
body[data-bs-theme="dark"] {
    background-color: #212529;
    color: #ffffff;
}

.ms-3 {
    margin-left: 0.75rem; /* Ajusta el margen según tus necesidades */
}

